body {
	background-color: #F5F5F1;
}

section {
	margin-left: 23.375em;
}


div {
	width: 14em; 
	height: 14.375em;
	background-color: white;
	float: left;
	margin-left: 1em;
	margin-top: 1em;

	}

	img {
		height: 11.5em;
		width: 14em;
	}

	.title{
		font-size: 0.75em;

	}

	.shop {
		font-size: 0.75em;
		color: #A0A0A0;
		width: 50%;
		margin-right: 0em;
	}

	.price {
		color: #79C33D;
		font-size: 0.75em;
		float: left;
	}

}






