body {
	background-color: #F5F5F1;
}

header {
	height: 7.875em;
	background-color: white;
}



section {
	margin-left: 23.375em;
}


div {
	width: 14em; 
	height: 14.375em;
	background-color: white;
	float: left;
	margin-left: 1em;
	margin-top: 1em;
	border: 1px solid #CBCCC9;

	}

	img {
		height: 11.5em;
		width: 14em;
	}

	.title{
		font-size: 0.75em;
		margin: 0em 0em 0em 0.25em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.shop {
		font-size: 0.75em;
		color: #A0A0A0;
		margin: 0.30em 0em 0em 0.25em;
		float: left;

	}

	.price {
		color: #79C33D;
		font-size: 0.75em;
		margin: 0.30em 0.25em 0em 0em;
		float: right;
	}

}






